@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, textarea,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font-family: Roboto;
	scroll-behavior: smooth;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
:root{
	--primary-color: #e71c24;
	--navbar-width: 16px 0;
}

/* utility clsses */
.error-field {
	border-bottom: 1px solid var(--primary-color) !important;
}

.toggle {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 45px;
    height: 24px;
	display: inline-block;
	position: relative;
	border-radius: 50px;
	overflow: hidden;
	outline: none;
	border: none;
	cursor: pointer;
	background-color: #707070;
	transition: background-color ease 0.3s;
	margin-left: 8px;
  }
  
  .toggle:before {
	content: "";
    display: block;
    position: absolute;
    z-index: 2;
    width: 20px;
    height: 20px;
    background: #fff;
    left: 2px;
    top: 1.5px;
    border-radius: 50%;
    font: 10px / 28px Helvetica;
    text-transform: uppercase;
    font-weight: bold;
    text-indent: -22px;
    word-spacing: 37px;
    color: #fff;
    text-shadow: -1px -1px rgba(0,0,0,0.15);
    white-space: nowrap;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
  }
  
  .toggle:checked {
	background-color: var(--primary-color);
  }
  
  .toggle:checked:before {
	left: 23px;
  }

  .switcher-label {
	font-size: 14px;
  }

/* Navbar section */
header{
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	position: sticky;
	top: 0;
	z-index: 100;
}
.navbar-wrapper {
	width: 90%;
	display: flex;
	align-items: center;
	margin: 0 auto;
	min-height: 50px;
	position: relative;
}
.logo{
	display: flex;
	align-items: center;
}
.hamburger-menu {
	display: none;
}
.drop-down-menu{
	display: none;
}
.nav-list{
	width: 70%;
	list-style-type: none;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.nav-list-item{
	position: relative;
	cursor: pointer;
	padding: var(--navbar-width);
}
.nav-list-item::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: var(--primary-color);
	bottom: -1px;
	opacity: 0;
}
.nav-list-item a{
	text-decoration: none;
	color: black;
	padding: var(--navbar-width);
	font-size: 14px;
}
.nav-list-item:hover a {
	color: var(--primary-color);
}
.nav-list-item:hover::before {
	opacity: 1;
}

/* hero section */
.hero-wrapper{
	width: 100%;
	height: 90vh;
	background-image: url(../images/gallery/img-36.jpeg);
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-filter: none !important;
	filter: none !important;
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;

}
.hero-wrapper .text-img{
	width: 350px;
	margin-left: 40px;
	margin-bottom: 90px;
	align-self: flex-end;
}

/* contact form component */
.form-wrapper{
	background-color: #fff;
	-webkit-box-shadow: 0px 5px 10px -6px rgba(204,204,204,1);
	-moz-box-shadow: 0px 5px 10px -6px rgba(204,204,204,1);
	box-shadow: 0px 5px 10px -6px rgba(204,204,204,1);
	width: 360px;
	margin-left: auto;
	margin-right: 6rem;
	padding: 20px;
}
.title{
	color: #585757;
	text-align: center;
}
.form-item-row{
	margin: 24px 0;
	display: flex;
	flex-direction: column;
}
.form-inputs{
	border: none;
	outline: none;
	border-bottom: 1px solid #ccc;
	font-size: 15px;
	padding: 6px;

}   
.form-textarea{
	resize: none;
	border: 1px solid #ccc;
	font-size: 15px;
	padding: 6px;
	border-radius: 4px;
	outline: none;
}
.form-inputs:focus{
	border-bottom: 1px solid var(--primary-color);
}
.form-textarea:focus{
	border: 1px solid var(--primary-color);
}
.submit-btn{
	background-color: var(--primary-color);
	border: none;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	height: 40px;
	border-radius: 6px;
	cursor: pointer;
}

/* Looper styles */
@keyframes slideAnim {
	from {
		transform: translateX(0%);
	}
	to {
		transform: translateX(-100%);
	}
}
	
.looper {
	width: 100%;
	overflow: hidden;
}

.looper__innerList {
	display: flex;
	justify-content: center;
	width: fit-content;
}

.looper__innerList[data-animate="true"] .looper__listInstance {
	animation: slideAnim linear infinite;   
}

.looper__listInstance {
	display: flex;
	width: max-content;

	animation: none;
}

/* Why choose section/component */
.looping-section-wrapper{
	padding-top: 60px;
}

.looping-div{
	margin-top: 16px;
}

/* gallery section/component */
.gallery-section-wrapper{
	padding-top: 60px;
}
.gallery-container{
	padding: 20px;
	overflow: auto;
}
.gallery-heading{
	color: #585757;
	padding-left: 12px;
}
.image-wrapper{
	padding: 14px 0;
}
.image-container {
	flex-shrink: 0;
	padding: 0 12px;
	position: relative;
	overflow: hidden;
	aspect-ratio: 2/1.3;
	text-overflow: ellipsis;
	cursor: pointer;
}
.gallery-img{
	width: 100%;
	height: 100%; 
	border-radius: 8px;
	object-fit: cover;
	z-index: 1;
}
.description-box{
	z-index: 10;
	bottom: 0;
	border-radius: 8px;
	color: #fff;
	font-size: 15px;
	opacity: 0;
	padding: 15px 10px 10px;
	position: absolute;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
	width: 92%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.image-container:hover .description-box{
	opacity: 1;
}
.gallery-prev-arrow-btn,
.gallery-next-arrow-btn {
	z-index: 10;
	background-color: #fff !important;
	border-radius: 50% !important;
	-webkit-box-shadow: 0 1px 3px #ccc !important;
	box-shadow: 0 1px 3px #ccc !important;
	height: 40px !important;
	width: 40px !important;
	display: flex !important;
	align-items: center;
	justify-content: center;
}
.gallery-next-arrow-btn{
	right: -15px !important;
}
.gallery-prev-arrow-btn{
	left: -15px !important;
}
.gallery-prev-arrow-btn::before,
.gallery-next-arrow-btn::before{
	content: "" !important;
}

/* design component */
.design-section{
	margin: 50px 0 15px 0;
	padding: 70px 20px;
	/* margin-bottom: 100px; */
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.design-step-container{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}
.design-wrapper{
	text-align: center;
    margin: 25px auto;
	flex: 1 0 10%;
}
.step-desc{
	margin-top: 12px;
	line-height: 22px;
	opacity: 0.8;
}

/* Footer section/component */
.footer-wrapper{
	padding: 20px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.span-text{
	font-size: 14px;
	line-height: 20px;
}
.span-text a{
	text-decoration: none;
	color: black;
}
.contact-info{
	display: flex;
	align-items: center;
	gap: 6px;
}

/* Preview modal component */
.img-preview-rodal .rodal-dialog{
	width: 80vw !important;
	height: 80vh !important;
	border-radius: 8px !important;
}
.modal-container{
	height: 95%;
	display: flex;
	flex-direction: column;
	margin: 25px 8px;
}

.preview-modal-head .title{
	text-align: left;
	padding-bottom: 7px;
	margin-bottom: 12px;
	border-bottom: 1px solid #ccc;
}
.modal-image-container{
	flex-grow: 1;
}

/* Success modal/component */
.success-body{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
	gap: 14px;
}

/* Switch/toggle component */
.view-switcher{
	display: flex;
	align-items: center;
	margin-top: 12px;
}

@media screen and (max-width: 855px) { 
	/* Footer section/component */
	.footer-wrapper{
		justify-content: center;
	}
	.span-text{
		text-align: center;
	}
	.copyright-text{
		margin-bottom: 14px;
	}
	.hero-wrapper .text-img{
		width: 260px;
	}
}

@media screen and (max-width: 665px) {
	.navbar-wrapper{
		padding-top: 10px;
		flex-direction: column;
	}
	.logo{
		align-self: flex-start;
		flex-grow: 1;
		width: 100%;
	}
	.hamburger-menu{
		display: block;
		margin-right: 20px;	
		cursor: pointer;
	}
	.close-icon{
		margin-left: auto;
		font-size: 20px;
	}
	.nav-list{
		display: none;
	}
	.nav-list-item{
		padding: 0;
	}
	
	.drop-down-menu{
		width: 100%;
		display: block;
		padding-top: 10px;
	}
	.drop-down-menu li a{
		width: 100%;
		display: inline-block;
	}

	.hero-wrapper{
		flex-direction: column-reverse;
		height: calc(100vh - 50px);
	}
	.hero-wrapper .text-img{
		width: 250px;
		margin: 20px 0 50px 0;
		align-self: center;
	}
	.form-wrapper{
		align-self: center;
		margin: 0;
	}
}


